# Python venv settings
export VIRTUAL_ENV="$(pwd)/.venv-ansible"
export PATH="$VIRTUAL_ENV/bin:$PATH"

# This var is not an offical Ansible var
export ANSIBLE_ROOT="$(pwd)"

# Use local .ansible dir instead of ~/.ansible
export ANSIBLE_HOME="$(pwd)/.ansible"
# Use local config file
export ANSIBLE_CONFIG="$(pwd)/ansible.cfg"
